html{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

body{
  background-color: #000000;
  color: #ffffff;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 80%;
}

.container{
  display: grid;
  align-content: center;
  justify-items: center;
  
  border: 3px solid white;
  border-radius: 5px;
}

.h1{
  display: grid;
  justify-content: center;
  
  border-bottom: 2px solid white;
  padding: 5px 7px;
  margin: 0;
  width: 96%;
}


.form{
  display: grid;
  align-content: center;
  justify-items: center;
  
}

.p{
  text-align: left;
  
  margin: 0;
  padding-right: 120px;
}

button{
  padding: 10px;
  background: linear-gradient(120deg, #48F0CE, #486AF0);
  border: 0;
  margin: 4px;
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  font-size: 20px;
}

button:hover{
  border: 2px solid #F08B30;
  color: #5E053F;
  text-decoration: underline;
  
  transition-delay: 0.1s;
}

input{
  width: 100%; 
  padding: 17px 10px; 
  margin: 2px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  
}

#qrBox{
  display: flex;
  align-content: center;
  justify-content: center;
  
  width: 200px;
  max-height: 0;
  border-radius: 5px;
  overflow: hidden;
  transition: max-height 2s;
}

#qrImg{
  width: 100%;
  padding: 10px;
}

#qrBox.show{
  margin: 10px auto;
  max-height: 300px;
  border: 1px solid #cccccc;
}