
.nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body{
    color: #ffffff;
    background-color: #000000;
    font-size: 15pt;
    
    font-family: nunito;
}

h1{
    border-bottom: 2px solid white;
    padding-bottom: 9px;
    padding-left: 30px;
}

.container{
    border: 8px solid white;
    align-content: center;
}

.menu{
    display: grid;
    justify-content: center;
}

button{
    background: linear-gradient(120deg, #48F0CE, #486AF0);
    color: white;
    padding: 15px 99px;
    margin: 5px;
    border: 2px solid #0056b3; 
    border-radius: 5px; 
    cursor: pointer;
    font-size: 20px;
    
    text-align: left;
    padding-left: 15px;

}

button:hover{
    border: 5px solid #F0CE48;
}